/* Table of Content
==================================================
	- Google fonts & font family -
	- Typography -
  - Color Palette -
  - General -
  - Game Board -
*/

/* Google fonts & font family
==================================================*/

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/*
Headings/Titles/Game text
font-family: 'Luckiest Guy', cursive;

Rules/biographical text/normal text
font-family: 'Roboto', sans-serif;
*/

/* Typography
==================================================*/

html {
  font-size: 16px;
}

/* Color Palette;
==================================================*/ 

/* Source: https://coolors.co/palette/d88c9a-f2d0a9-f1e3d3-99c1b9-8e7dbe

#D88C9A;
#F2D0A9;
#F1E3D3;
#99C1B9;
#8E7DBE;

*/

/* General;
==================================================*/


/* Game Board;
==================================================*/
.gameTile {
  position: relative;
  border: 0;
  padding: 0;
  margin: 0.75rem;
}

.gameTile:enabled {
  border: 0.5rem solid red;
  margin: 0.25rem;
}

.tileLayer {
  position: relative;
}

.tokenLayer {
  position: absolute;
  z-index: 3;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 120px;
  height: 120px;
}

